<%_ if (disp=="block") { _%>
  <%_ if (alix < alixThresholdNoImage) { _%>
    <p><span class="spoken-math"><%= txt %></span></p>
  <%_ } else { _%>
    <figure class="image" xml:lang="<%= language %>">
      <%- svg %>
      <figcaption><span class="spoken-math"><%= txt %></span></figcaption>
    </figure>
  <%_ } _%>
<%_ } else if (disp=="inline") { _%>
  <%_ if (alix < alixThresholdNoImage) { _%>
    <span><span class="spoken-math"><%= txt %></span></span>
  <%_ } else { _%>
    <span class="image" xml:lang="<%= language %>">
      <%- svg %>
      <span class="spoken-math"><%= txt %></span>
    </span>
  <%_ } _%>
<%_ } _%> 